.button-create-list{
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color:rgb(255, 255, 255);
  background-color: rgb(56, 221, 70);
  border-radius: 5px;
  padding: 10px;

}
.button-create-list:hover{
  background-color:rgb(32, 176, 10);
}
.button-delete{
  border-radius: 5px;
}
