.navbar-main {
  justify-content: space-between;
  background: white;
  border-bottom: solid 1px #ffff;
  a{
    color:black;
  }
}

.navbar-main .navbar-collapse {
  flex-grow: 0;
}

.navbar-main .navbar-brand img {
  width: 40px;
}
